.head{
  margin-top: 150px;
  text-align: center;
}
.gallery{
  margin: 100px;
  display: flex;
}
.gallery img{
  width: 100%;
  height: auto;
  padding-bottom: 40px;
}

.column{
  flex: 50%;
  padding: 20px;
}
